<div class="col-3 pb-2" style="display: none;">
    <div class="card h-100">
        <div class="card-header">
            <h5 class="card-title text-center">{name}</h5>
        </div>
        <img src="{image}" class="card-img-top" alt="{name}">
        <div class="card-body text-center">
            <small>Experiencia Base: {base_experience} | Altura: {height} | Orden: {order} | Peso: {weight}</small>
            <p></p>
            <button class="btn btn-primary btn-sm" onclick="showMetric({index})">Ver Métricas</button>
        </div>
    </div>
</div>