/* BASE */

:root {
    --color-1: #2F58BC;
    --color-2: #4582DB;
    --color-3: #B3B3B3;
    --color-4: #E6E6E6;
    --color-5: #0095DA;
    --color-7: #ffffff;
    --color-8: #343741;
}


/* GENERAL */

html,
body {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    background-color: var(--color-7);
    height: 100%;
    margin: 0;
}

b,
strong {
    font-weight: 700;
}

b,
strong {
    font-weight: 700;
}

.bg-light {
    background-color: var(--color-4) !important;
}

.bg-primary {
    background-color: var(--color-2) !important;
}

.text-dark {
    color: var(--color-3) !important;
}

.text-primary {
    color: var(--color-2) !important;
}

.bg-color-1 {
    background-color: var(--color-1);
}

.bg-color-2 {
    background-color: var(--color-2);
}

.bg-color-3 {
    background-color: var(--color-3);
}

.bg-color-4 {
    background-color: var(--color-4);
}

.bg-color-5 {
    background-color: var(--color-5);
}

.bg-color-6 {
    background-color: var(--color-6);
}

.bg-color-7 {
    background-color: var(--color-7);
}

.bg-color-8 {
    background-color: var(--color-8);
}

.color-1 {
    color: var(--color-1);
}

.color-2 {
    color: var(--color-2);
}

.color-3 {
    color: var(--color-3);
}

.color-4 {
    color: var(--color-4);
}

.color-5 {
    color: var(--color-5);
}

.color-6 {
    color: var(--color-6);
}

.color-7 {
    color: var(--color-7);
}

.color-8 {
    color: var(--color-8);
}


/* NAVBAR */

.navbar {
    border-bottom: 5px var(--color-2) solid;
}

.navbar-brand img {
    width: 150px;
}


/* Content */


/* Footer */

footer .list-group-item {
    padding: 0.10rem 0rem;
    background-color: var(--color-8);
    border: 0px solid var(--color-8);
}

footer .nav-link {
    display: block;
    padding: 0.10rem 0rem;
}

footer a:hover {
    color: var(--color-2);
    text-decoration: none;
}

footer {
    background: var(--color-8);
    color: var(--color-4);
}

footer hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(250, 250, 250, 0.1);
}

footer a {
    color: var(--color-4);
}


/* Media  */

@media (max-width: 575.98px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    h5 {
        font-size: 1rem;
    }
    h6 {
        font-size: 0.9rem;
    }
    .navbar-brand {
        font-size: 1.5rem;
    }
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    h5 {
        font-size: 1rem;
    }
    h6 {
        font-size: 0.9rem;
    }
    .navbar-brand {
        font-size: 1.5rem;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    h5 {
        font-size: 1rem;
    }
    h6 {
        font-size: 0.75rem;
    }
    .navbar-brand {
        font-size: 2rem;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    h6 {
        font-size: 0.75rem;
    }
    .navbar-brand {
        font-size: 2.5rem;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    h6 {
        font-size: 0.9rem;
    }
    .navbar-brand {
        font-size: 3rem;
    }
}