// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.container {
    z-index: 2;
}
#Blog { 
    h5 {
        color:$nickel !important;
        font-family: $playfair !important;
        font-weight: $playfair-regular;
    }
    p {
        color:$nickel !important;
        font-family: $roboto !important;
        font-weight: $roboto-ligth;
        line-height: 25px;
        text-align: justify;
        strong {
            color: $ruddypink;
        }
    }
    .my-author {
        font-family: $playfair !important;
        font-style: italic;
        font-weight: $playfair-blackitaly;
        color: $eerieblack;
        font-size: x-large;
    }
    .my-nickname {
        color: $ruddypink;
    }
    .my-url {
        color: $ruddypink;
    }
}
