// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
@import '../abstracts/variables';
.flex-container-footer {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: space-between;
}

#Footer {
    background-color: $raisingblack;
}