// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@import '../abstracts/variables';
// Header Class
.my-fullscreen {
    display: flex;
    height: 90vh;
    box-sizing: border-box;
    padding-top: 0rem;
    padding-bottom: 0rem;
    flex-direction: column;
}

.my-fullscreen .my-overlay {
    height: 90vh;
}

.my-header {
    background-image: url("../images/bg-hero.svg");
    background-size: cover;
    background-position: 70% 50%;
    background-repeat: no-repeat;
}

.my-header h1 {
    font-weight: $raleway-bold;
}

.my-overlay {
    background-color: #000;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    opacity: 0.3;
}

.my-text-box {
    margin-top: 10%;
    width: 380px;
}