// -----------------------------------------------------------------------------
// This file contains all styles related to the section prices of the site/application.
// -----------------------------------------------------------------------------
@import '../abstracts/variables';
#Prices {
    background-image: url("../images/bg-price.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 10%;
}

#Prices h2 {
    font-weight: $raleway-bold;
    color: $white;
}

#Deck {
    background-color: $onyx;
}

#Prices h2 {
    font-weight: $raleway-bold;
}

#Deck .card-footer {
    border-top: 0px solid rgba(0, 0, 0, .125);
}

#Deck .card:hover {
    box-shadow: 0 .5rem 1rem $silverchalice !important;
}