// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// Color Scheme
// Color Scheme 1
$white: #FFF;
$platinum: #E8E8E8;
$gray: #BABABA;
// Color Scheme 2
$darksalmon: #EE9480;
$melon: #F4BAAE;
$palepink: #FADFDA;
// Color Scheme 3
$ballblue: #2AB7CA;
$middleblue: #77D1DD;
$bluelagoon: #B1E4EB;
// Color Scheme 4
$onyx: #333745;
$spanishgray: #8F9199;
$lavendergray: #C7C8CC;
// Color Scheme 5
$raisingblack: #221D23;
$nickel: #726f73;
$silverchalice: #AEACAF;
//Font Family
$raleway: 'Raleway';
$opensans: 'Open Sans';
$roboto: 'Roboto',
serif;
$playfair: 'Playfair Display',
sans-serif;
// Font Weight
$raleway-bold: 900;
$opensans-regular: 400;
$raleway-regular: 400;
// Font Sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;