body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #F5F5F5 !important;
}

section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#header h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 72px;
}

#header h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 62px;
}

#header h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 52px;
}

.navbar {
    background-color: #0077B5 !important;
}

.navbar-brand span {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.navbar ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.my-separator {
    width: 100%;
    height: 10px;
    background-color: #0077B5;
}

.navbar {
    background-position: bottom;
    background-repeat: repeat-x;
    background-image: url("../img/bg_header.png");
}

.navbar-brand {
    font-size: 40px;
    font-weight: 400;
}

.my-fullscreen .my-overlay {
    height: 100vh;
}

.my-fullscreen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    height: 100vh;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.my-header {
    background-image: url("../img/header1.jpg");
}

.my-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}


/*************************
* En Proceso
*************************/

.card-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #373A3C;
}

.card-text {
    font-size: 14px;
}

.Projects h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 52px;
    color: #373A3C;
}

footer span {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.my-subtitle {
    background-color: #96C11F !important;
    color: white;
}

.my-subtitle h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 52px;
}

.my-bg-color {
    /*background-color: #96C11F !important; */
    background-color: #6AB3D6 !important;
}

.my-separator {
    padding-top: 88px;
}

hr {
    width: 15%;
    color: #ffffff;
    border-top: 2px solid;
}


/*************************/

.carousel-indicators>li {
    width: 15px;
    height: 15px;
    border-radius: 50% !important;
    background-color: #373A3C !important;
}

.carousel-indicators {
    bottom: -60px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 20px;
    height: 50px;
}