// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@import '../abstracts/variables';


.rounded-pill-left {
    border-top-left-radius: 50rem !important;
    border-bottom-left-radius: 50rem !important;
}

.rounded-pill-rigth {
    border-top-right-radius: 50rem !important;
    border-bottom-right-radius: 50rem !important;
}



.page-link {
    color: $eerieblack;
}

.page-item.active .page-link {
    background-color: $nickel;
    border-color: $nickel;
}