// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Color Scheme
// Color Scheme 1
$white: #FFF;
$platinum: #E6E7E7;
$lightgray: #D1D1D1;
// Color Scheme 2
$fuzzywuzzy: #E56353;
$ruddypink: #D76C69;
$spanishpink: #ECBCBA;
// Color Scheme 3
$eerieblack: #121619;
$raisinblack: #222323;
$nickel: #6C6E70;


//Font Family
$roboto: 'Roboto', serif;
$playfair: 'Playfair Display', sans-serif;


// Font Weight
$roboto-regular: 400;
$roboto-ligth:300;

$playfair-blackitaly: 900;
$playfair-regular: 400;




// Font Sizes
$xxxx-large: 130px;
$xxx-large: 100px;
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
$x-small: 10px;

