    // -----------------------------------------------------------------------------
    // This file contains styles that are specific to the home page.
    // -----------------------------------------------------------------------------
    .container {
        z-index: 2;
    }
    
    .flex-container {
        display: flex;
        align-items: baseline;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .flex-container-footer {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .flex-column-left {
        display: flex;
        align-items: baseline;
        flex-direction: row;
    }
    
    .flex-column-rigth {
        display: flex;
        align-items: baseline;
        flex-direction: row;
    }